---
layout: layouts/base.liquid
---
<article>
    <h1 class="post-title">{{ pageTitle }}</h1>
    <div class="post-meta">
        Posted on 
        <time datetime="{{ page.date }}">{{ page.date | date: "%Y %B %d." }}</time>
        by 
        <a href="https://twitter.com/{{ author }}" target="_blank">{{ author }}</a>
    </div>

    {{ content }}
</article>

